<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="../../statics/lib/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="..\..\statics\bootstrap\css\bootstrap.min.css" rel="stylesheet">
    <link href="../../statics/dist/css/sb-admin-2.css" rel="stylesheet">

    <link rel='stylesheet' type='text/css' href='../../statics/css/login/login.css' />
    <title>Crescom Labeling</title>
</head>

<body class="bg">
    <div class="top_header">
        <a href="/" class="logo">CRESCOM</a>
    </div>

    <div class="centerbg">
        <!--login window-->
        <table>
            <form method="post" action="/authen/validateLogin" role="login">
                <br><br>
                <tr>
                    <td>
                        <p class="titleFont">Login</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><br>
                        <p class="inputtitle">ID(email)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email" name="inputEmail" id="inputEmail" class="form-control" required autofocus>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><br>
                        <Br>
                        <p class="inputtitle">Password</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" name="inputPassword" id="inputPassword" class="form-control" required autofocus>
                    </td>
                </tr>
                <tr>
                    <br>
                    <td>
                        <a href="/authen/showPassword" class="pwFont">Find Password</a>
                        <a href="/authen/showSignUp" class="pwFont">Join</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br><br><br><br><br><br><button id="btn" type="submit" name="analysis" value="analysis" class="btn  btn-lg btn-primary btn-block BT_PRESS">LOGIN</button>

                    </td>
                </tr>

            </form>
        </table>
    </div>
</body>

</html>