.idea/
.project
.DS_Store
build.sh
release.sh
/build/
nb/tests/build/**/
.jshint*
juelich/
nb/statics/sample/*
nb/statics/temp_img/*
nb/statics/test_img/*
nb/statics/test_json/*
nb/statics/test_xml/*
nb/test/*
nb/tests/*