.idea/
.project
.DS_Store
build.sh
release.sh
/build/
/tests/build/**/
.jshint*
juelich/
app/statics/sample/*
app/statics/temp_img/*
app/statics/test_img/*
app/statics/test_json/*
app/statics/test_xml/*
app/statics/vendor/*
/test/*
/tests/*
*.pyc
tests/*