.idea/
.project
.DS_Store
build.sh
release.sh
/build/
/tests/build/**/
.jshint*
juelich/
/statics/sample/*
/statics/temp_img/*
/statics/test_img/*
/statics/test_json/*
/statics/test_xml/*
/statics/vendor/*
