<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Crescom Labeling</title>
  <meta name="author" content="Abhishek Dutta">
  <meta name="referrer" content="no-referrer">
  <meta name="description"
    content="VIA is a standalone image annotator application packaged as a single HTML file (< 400 KB) that runs on most modern web browsers.">

  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
    integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <link rel="stylesheet" type="text/css" href="/statics/css/2dvia/2dvia.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type='text/javascript' src='/statics/js/via/2dconstants.js'></script>
  <script type='text/javascript' src='/statics/js/via/2dvia.js'></script>

  


  <script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-20555581-2', 'auto');
    ga('set', 'page', 'via-2.0.0.html');
    ga('send', 'pageview');

  </script>


  <!-- END: Contents of file: via.css-->
</head>

<body class="bg" onload="_via_init()" onresize="_via_update_ui_components()">

  <!-- used by invoke_with_user_inputs() to gather user inputs -->
  <div id="user_input_panel"></div>

  <!-- to show status messages -->
  <div id="message_panel">
    <div id="message_panel_content" class="content"></div>
  </div>

  <!-- spreadsheet like editor for annotations -->
  <div id="annotation_editor_panel">
    <div class="button_panel">
      <span class="text_button" onclick="edit_region_metadata_in_annotation_editor()" id="button_edit_region_metadata"
        title="Manual annotations of regions">Region Annotations</span>
    </div>
    <!-- here, a child div with id="annotation_editor" is added by javascript -->
  </div>
  <div id="annotation_editor_panel2">
    <div class="button_panel">
      <span class="text_button" onclick="edit_file_metadata_in_annotation_editor()" id="button_edit_file_metadata"
        title="Manual annotations of a file">File Annotations</span>
      <span class="button" style="float:right;margin-right:0.2rem;"
        onclick="annotation_editor_toggle_all_regions_editor()"
        title="Close this window of annotation editor">&times;</span>
      <span class="button" style="float:right;margin-right:0.2rem;" onclick="annotation_editor_increase_panel_height()"
        title="Increase the height of this panel">&uarr;</span>
      <span class="button" style="float:right;margin-right:0.2rem;" onclick="annotation_editor_decrease_panel_height()"
        title="Decrease the height of this panel">&darr;</span>
      <span class="button" style="float:right;margin-right:0.2rem;" onclick="annotation_editor_increase_content_size()"
        title="Increase size of contents in annotation editor">&plus;</span>
      <span class="button" style="float:right;margin-right:0.2rem;" onclick="annotation_editor_decrease_content_size()"
        title="Decrease size of contents in annotation editor">&minus;</span>
    </div>
    <!-- here, a child div with id="annotation_editor" is added by javascript -->
  </div>
  <div class="top_header" id="ui_top_panel">
    <a href="/" class="logo">CRESCOM</a>
    <div class="header-right">
      <a href="/study_record"><img src="statics/icon/history-icon.png"
          srcset="statics/icon/history-icon@2x.png 2x,statics/icon/history-icon@3x.png 3x" class="icon_help">
        Fracture</a>
      <a href="/knee_record"><img src="statics/icon/history-icon.png"
          srcset="statics/icon/history-icon@2x.png 2x,statics/icon/history-icon@3x.png 3x" class="icon_help">
        Knee OA</a>
      <a href="/record"><img src="statics/icon/history-icon.png"
          srcset="statics/icon/history-icon@2x.png 2x,statics/icon/history-icon@3x.png 3x" class="icon_help">
        Project</a>
    </div>
  </div> <!-- end of menubar -->
  <!-- Shortcut toolbar -->
  <div class="toolbar" style="display: None;">
    <!--<svg onclick="project_open_select_project_file()" viewbox="0 0 24 24"><use xlink:href="#icon_open"></use><title>Open Project</title></svg>-->
    <svg onclick="project_save_with_confirm()" viewbox="0 0 24 24">
      <use xlink:href="#icon_save"></use>
      <title>Save Project</title>
    </svg>
    <svg onclick="settings_panel_toggle()" viewbox="0 0 24 24">
      <use xlink:href="#icon_settings"></use>
      <title>Update Project Settings</title>
    </svg>
    <!--
        <svg onclick="" viewbox="0 0 24 24"><use xlink:href="#icon_checkbox"></use><title>Locate Files</title></svg>
        -->

    <svg onclick="sel_local_data_file('annotations')" style="margin-left:1rem;" viewbox="0 0 24 24">
      <use xlink:href="#icon_fileupload"></use>
      <title>Import Annotations from CSV</title>
    </svg>
    <svg onclick="download_all_region_data('csv')" viewbox="0 0 24 24">
      <use xlink:href="#icon_filedownload"></use>
      <title>Download Annotations as CSV</title>
    </svg>

    <svg onclick="image_grid_toggle()" id="toolbar_image_grid_toggle" style="margin-left:1rem;" viewbox="0 0 24 24">
      <use xlink:href="#icon_gridon"></use>
      <title>Switch to Image Grid View</title>
    </svg>
    <svg onclick="annotation_editor_toggle_all_regions_editor()" viewbox="0 0 24 24">
      <use xlink:href="#icon_insertcomment"></use>
      <title>Toggle Annotation Editor</title>
    </svg>

    <svg onclick="move_to_prev_image()" style="margin-left:1rem;" viewbox="0 0 24 24">
      <use xlink:href="#icon_prev"></use>
      <title>Previous</title>
    </svg>
    <svg onclick="toggle_img_fn_list_visibility()" viewbox="0 0 24 24">
      <use xlink:href="#icon_list"></use>
      <title>Toggle Filename List</title>
    </svg>
    <svg onclick="move_to_next_image()" viewbox="0 0 24 24">
      <use xlink:href="#icon_next"></use>
      <title>Next</title>
    </svg>

    <svg onclick="zoom_in()" style="margin-left:1rem;" viewbox="0 0 24 24">
      <use xlink:href="#icon_zoomin"></use>
      <title>Zoom In</title>
    </svg>
    <svg onclick="zoom_out()" viewbox="0 0 24 24">
      <use xlink:href="#icon_zoomout"></use>
      <title>Zoom Out</title>
    </svg>

    <svg onclick="sel_all_regions()" viewbox="0 0 24 24" style="margin-left:1rem;">
      <use xlink:href="#icon_selectall"></use>
      <title>Select All Regions</title>
    </svg>
    <svg onclick="copy_sel_regions()" viewbox="0 0 24 24">
      <use xlink:href="#icon_copy"></use>
      <title>Copy Regions</title>
    </svg>
    <svg onclick="paste_sel_regions_in_current_image()" viewbox="0 0 24 24">
      <use xlink:href="#icon_paste"></use>
      <title>Paste Regions</title>
    </svg>
    <svg onclick="paste_to_multiple_images_with_confirm()" viewbox="0 0 24 24">
      <use xlink:href="#icon_pasten"></use>
      <title>Paste Region in Multiple Images</title>
    </svg>
    <svg onclick="del_sel_regions_with_confirm()" viewbox="0 0 24 24">
      <use xlink:href="#icon_pasteundo"></use>
      <title>Undo Regions Pasted in Multiple Images</title>
    </svg>
    <svg onclick="del_sel_regions()" viewbox="0 0 24 24">
      <use xlink:href="#icon_close"></use>
      <title>Delete Region</title>
    </svg>
  </div>
  <!-- end of shortcut toolbar -->
  <form id="img_form" method="post" enctype="multipart/form-data">
    <input type="file" id="invisible_file_input" name="files[]" style="display:none">
    <input type="button" id="invisible_submit" onclick="uploadImg()" style="display:none">
  </form>
  </div> <!-- endof #top_panel -->

  <!-- Middle Panel contains a left-sidebar and image display areas -->
  <div class="middle_panel">
    <!-- this panel contains a button to shows the left side bar -->
    <div id="leftsidebar_collapse_panel">
      <span class="text_button" onclick="leftsidebar_toggle()" title="Show left sidebar">&rtrif;</span>
    </div>

    <div id="leftsidebar">
      <br>
      <button class="leftsidebar_accordion active" id="project_panel_title">Project</button>
      <div class="leftsidebar_accordion_panel show" id="img_fn_list_panel">
        <div id="project_info_panel">
          <div class="row">
            <span class="col"><label for="project_name">Name: </label></span>
            {% if first == 0 or first == 3 %}
            <span class="col"><input type="text" value="" onchange="project_on_name_update(this)" id="project_name"
                title="VIA project name"></span>
            {% else %}
            <span class="col"><input type="text" value="" onchange="project_on_name_update('{{fname}}')" id="project_name"
                title="VIA project name" readonly></span>
            {% endif %}
          </div>
        </div>
        <div id="project_tools_panel">
          <div class="button_panel" style="margin:0.1rem 0;">
            <select style="width:48%" id="filelist_preset_filters_list" onchange="img_fn_list_onpresetfilter_select()"
              title="Filter file list using predefined filters">
              <option value="all">All files</option>
              <option value="files_without_region">Show files without regions</option>
              <option value="files_missing_region_annotations">Show files missing region annotations</option>
              <option value="files_missing_file_annotations">Show files missing file annotations</option>
              <option value="files_error_loading">Files that could not be loaded</option>
              <option value="regex">Regular Expression</option>
            </select>
            <input style="width:50%" type="text" placeholder="regular expression" oninput="img_fn_list_onregex()"
              id="img_fn_list_regex" title="Filter using regular expression">
          </div>
        </div>
        <div id="img_fn_list"></div>
        <p>
        <div class="button_panel">
          {% if first != 2 %}
          <span class="button" onclick="sel_local_images()" title="Add new file from local disk">Add Files</span>
          <!--<span class="button" onclick="project_file_add_url_with_input()" title="Add new file using URL">Add URL</span>-->
          <span class="button" onclick="project_file_remove_with_confirm()"
            title="Remove selected file (i.e. file currently being shown) from project">Remove</span>
          <span class="button" onclick="project_save_with_confirm()" title="save project">Save Project</span>
          <br><br>
          {% endif %}
          <span class="button" onclick="zoom_in()"><i class='fas fa-search-plus'></i>&nbsp;&nbsp;Zoom In</span>
          <span class="button" onclick="zoom_out()"><i class='fas fa-search-minus'></i>&nbsp;&nbsp;Zoom
            Out</span><br><br>
        </div>
        </p>
      </div>
      <!-- Attributes -->
      <button class="leftsidebar_accordion" id="attributes_editor_panel_title" style="display:none">Attributes</button>
      <div class="leftsidebar_accordion_panel" id="attributes_editor_panel" style="display:none">
        <div class="button_panel" style="padding:1rem 0;">
          <span class="text_button" onclick="show_region_attributes_update_panel()" id="button_show_region_attributes"
            title="Show region attributes">Region Attributes</span>
          <span class="text_button" onclick="show_file_attributes_update_panel()" id="button_show_file_attributes"
            title="Show file attributes">File Attributes</span>
        </div>
        <div id="attributes_update_panel">
          <div class="button_panel">
            <input style="width:70%" type="text" placeholder="attribute name" id="user_input_attribute_id" value="">
            <span id="button_add_new_attribute" class="button" onclick="add_new_attribute_from_user_input()"
              title="Add new attribute">&plus;</span>
            <span id="button_del_attribute" class="button" onclick="delete_existing_attribute_with_confirm()"
              title="Delete existing attribute">&minus;</span>
          </div>
          <div class="button_panel" style="margin:0.1rem 0;">
            <select style="width:100%" id="attributes_name_list" onchange="update_current_attribute_id(this)"
              title="List of existing attributes"></select>
          </div>
          <div id="attribute_properties"></div>
          <div id="attribute_options"></div>
          <p style="text-align:center">
            <span class="text_button" title="Show a spreadsheet like editor for all manual annotations"
              onclick="annotation_editor_toggle_all_regions_editor()">Toggle Annotation Editor</span>
          </p>
        </div>
      </div>
      <button id="hidden02" class="text_button01" onclick="annotation_editor_toggle_all_regions_editor()">Toggle
        Annotation Editor</button><br>
      <button class="leftsidebar_accordion">Keyboard Shortcuts</button>
      <div class="leftsidebar_accordion_panel">
        <div style="display:block; text-align:center; padding:1rem;">Available only on image focus</div>
        <table>
          <tr>
            <td style="width:8em;"><span class="key">&larr;</span>&nbsp;<span class="key">&uarr;</span>&nbsp;<span
                class="key">&rarr;</span>&nbsp;<span class="key">&darr;</span></td>
            <td>Move selected region by 1 px (Shift to jump)</td>
          </tr>
          <tr>
            <td><span class="key">a</span></td>
            <td>Select all regions</td>
          </tr>

          <tr>
            <td><span class="key">c</span></td>
            <td>Copy selected regions</td>
          </tr>
          <tr>
            <td><span class="key">v</span></td>
            <td>Paste selected regions</td>
          </tr>
          <tr>
            <td><span class="key">d</span></td>
            <td>Delete selected regions</td>
          </tr>
          <tr>
            <td><span class="key">Ctrl</span> + Wheel</td>
            <td>Zoom in/out (mouse cursor is over image)</td>
          </tr>
          <tr>
            <td><span class="key">l</span></td>
            <td>Toggle region label</td>
          </tr>
          <tr>
            <td><span class="key">b</span></td>
            <td>Toggle region boundary</td>
          </tr>
          <tr>
            <td><span class="key">Enter</span></td>
            <td>Finish drawing polyshape</td>
          </tr>
          <tr>
            <td><span class="key">Backspace</span></td>
            <td>Delete last polyshape vertex</td>
          </tr>
        </table>

        <div style="display:block; text-align:center; padding:1rem;">Always Available</div>
        <table>
          <tr>
            <td style="width:8em;"><span class="key">&larr;</span>&nbsp;<span class="key">&rarr;</span></td>
            <td>Move to next/previous image</td>
          </tr>
          <tr>
            <td><span class="key">+</span>&nbsp;<span class="key">-</span>&nbsp;<span class="key">=</span></td>
            <td>Zoom in/out/reset</td>
          </tr>
          <tr>
            <td><span class="key">&uarr;</span></td>
            <td>Update region label</td>
          </tr>
          <tr>
            <td><span class="key">&darr;</span></td>
            <td>Update region colour</td>
          </tr>
          <tr>
            <td><span class="key">Spacebar</span></td>
            <td>Toggle annotation editor (Ctrl to toggle on image editor)</td>
          </tr>
          <tr>
            <td><span class="key">Home</span> / <span class="key">h</span></td>
            <td>Jump to first image</td>
          </tr>
          <tr>
            <td><span class="key">End</span> / <span class="key">e</span></td>
            <td>Jump to last image</td>
          </tr>
          <tr>
            <td><span class="key">PgUp</span> / <span class="key">u</span></td>
            <td>Jump several images</td>
          </tr>
          <tr>
            <td><span class="key">PgDown</span> / <span class="key">d</span></td>
            <td>Jump several images</td>
          </tr>

          <tr>
            <td><span class="key">Esc</span></td>
            <td>Cancel ongoing task</td>
          </tr>
        </table>
      </div>

    </div> <!-- end of leftsidebar -->

    <!-- Main display area: contains image canvas, ... -->
    <div id="display_area">
      <br>
      <div id="image_panel" class="display_area_content display_none">
        <!-- buffer images using <img> element will be added here -->

        <!-- @todo: in future versions, this canvas will be replaced by a <svg> element -->
        <canvas id="region_canvas" width="1" height="1" tabindex="1">Sorry, your browser does not support HTML5 Canvas
          functionality which is required for this application.</canvas>

        <!-- here, a child div with id="annotation_editor" is added by javascript -->
      </div>

      <div id="image_grid_panel" class="display_area_content display_none">

        <div id="image_grid_group_panel">
          <span class="tool">Group by&nbsp; <select id="image_grid_toolbar_group_by_select"
              onchange="image_grid_toolbar_onchange_group_by_select(this)"></select></span>
        </div>

        <div id="image_grid_toolbar">
          <span>Selected</span>
          <span id="image_grid_group_by_sel_img_count">0</span>
          <span>of</span>
          <span id="image_grid_group_by_img_count">0</span>
          <span>images in current group, show</span>

          <span>
            <select id="image_grid_show_image_policy" onchange="image_grid_onchange_show_image_policy(this)">
              <option value="all">all images (paginated)</option>
              <option value="first_mid_last">only first, middle and last image</option>
              <option value="even_indexed">even indexed images (i.e. 0,2,4,...)</option>
              <option value="odd_indexed">odd indexed images (i.e. 1,3,5,...)</option>
              <option value="gap5">images 1, 5, 10, 15,...</option>
              <option value="gap25">images 1, 25, 50, 75, ...</option>
              <option value="gap50">images 1, 50, 100, 150, ...</option>
            </select>
          </span>

          <div id="image_grid_nav"></div>
        </div>

        <div id="image_grid_content">
          <div id="image_grid_content_img"></div>
          <svg xmlns:xlink="http://www.w3.org/2000/svg" id="image_grid_content_rshape"></svg>
        </div>

        <div id="image_grid_info">
        </div>
      </div> <!-- end of image grid panel -->

      <div id="settings_panel" class="display_area_content display_none">
        <h2>Settings</h2>
        <div class="row">
          <div class="variable">
            <div class="name">Project Name</div>
          </div>

          <div class="value">
            <input type="text" id="_via_settings.project.name" />
          </div>
        </div>

        <div class="row">
          <div class="variable">
            <div class="name">Default Path</div>
            <div class="desc">If all images in your project are saved in a single folder, set the default path to the
              location of this folder. The VIA application will load images from this folder by default. Note: a default
              path of <code>"./"</code> indicates that the folder containing <code>via.html</code> application file also
              contains the images in this project. For example: <code>/datasets/VOC2012/JPEGImages/</code> or
              <code>C:\Documents\data\</code>&nbsp;<strong>(note the trailing <code>/</code> and
                <code>\</code></strong>)</div>
          </div>

          <div class="value">
            <input type="text" id="_via_settings.core.default_filepath" placeholder="./statics/GMPtest/" />
          </div>
        </div>

        <div class="row">
          <div class="variable">
            <div class="name">Search Path List</div>
            <div class="desc">If you define multiple paths, all these folders will be searched to find images in this
              project. We do not recommend this approach as it is computationally expensive to search for images in
              multiple folders. <ol id="_via_settings.core.filepath"></ol>
            </div>
          </div>

          <div class="value">
            <input type="text" id="settings_input_new_filepath"
              placeholder="/datasets/pascal/voc2012/VOCdevkit/VOC2012/JPEGImages" />
          </div>
        </div>

        <div class="row">
          <div class="variable">
            <div class="name">Region Label</div>
            <div class="desc">By default, each region in an image is labelled using the region-id. Here, you can select
              a more descriptive labelling of regions.</div>
          </div>

          <div class="value">
            <select id="_via_settings.ui.image.region_label"></select>
          </div>
        </div>

        <div class="row">
          <div class="variable">
            <div class="name">Region Colour</div>
            <div class="desc">By default, each region is drawn using a single colour. Using this setting, you can assign
              a unique colour to regions grouped according to a region attribute.</div>
          </div>

          <div class="value">
            <select id="_via_settings.ui.image.region_color"></select>
          </div>
        </div>

        <div class="row">
          <div class="variable">
            <div class="name">Region Label Font</div>
            <div class="desc">Font size and font family for showing region labels.</div>
          </div>

          <div class="value">
            <input id="_via_settings.ui.image.region_label_font" placeholder="12px Arial" />
          </div>
        </div>

        <div class="row">
          <div class="variable">
            <div class="name">Preload Buffer Size</div>
            <div class="desc">Images are preloaded in buffer to allow smoother navigation of next/prev images. A large
              buffer size may slow down the overall browser performance. To disable preloading, set buffer size to 0.
            </div>
          </div>
          <div class="value">
            <input type="text" id="_via_settings.core.buffer_size" />
          </div>
        </div>

        <div class="row">
          <div class="variable">
            <div class="name">On-image Annotation Editor</div>
            <div class="desc">When a single region is selected, the on-image annotation editor is gets activated which
              the user to update annotations of this region. By default, this on-image annotation editor is placed near
              the selected region.</div>
          </div>

          <div class="value">
            <select id="_via_settings.ui.image.on_image_annotation_editor_placement">
              <option value="NEAR_REGION">close to selected region</option>
              <option value="IMAGE_BOTTOM">at the bottom of image being annotated</option>
              <option value="DISABLE">DISABLE on-image annotation editor</option>
            </select>
          </div>
        </div>

        <div class="row" style="border:none;">
          <button onclick="settings_save()" value="save_settings" style="margin-top:2rem">Save</button>
          <button onclick="settings_panel_toggle()" value="cancel_settings" style="margin-left:2rem;">Cancel</button>
        </div>
      </div> <!-- end of settings panel -->

      <div id="page_404" class="display_area_content display_none narrow_page_content">
        <h2>File Not Found</h2>
        <p>Filename: <span style="font-family:Mono;" id="page_404_filename"></span></p>

        <p>We recommend that you update the default path in <span class="text_button" title="Show Project Settings"
            onclick="settings_panel_toggle()">project settings</span> to the folder which contains this image.</p>

        <p>A temporary fix is to use <span class="text_button" title="Load or Add Images"
            onclick="sel_local_images()">browser's file selector</span> to manually locate and add this file. We do not
          recommend this approach because it requires you to repeat this process every time your load this project in
          the VIA application.</p>
      </div> <!-- end of file not found panel -->

      <div id="page_start_info" class="display_area_content display_none narrow_page_content"></div>
      <button id="hidden01" style="display:none;" onclick="project_open_parse_json_file({{js_file}})"></button>

    </div> <!-- end of display_area -->
  </div> <!-- end of middle_panel -->

  <div style="width: 100%;" id="vertical_space"></div>

  <script type='text/javascript'>
    "use strict";

    var firstTry = {{ first }};
    var _via_project_name = '{{ fname }}';
    var _via_direc_name = '{{direc}}';
    _via_settings.core.default_filepath = '{{direc}}';

    // UI html elements
    var invisible_file_input = document.getElementById("invisible_file_input");
    var invisible_submit = document.getElementById("invisible_submit");
    var display_area = document.getElementById("display_area");
    var ui_top_panel = document.getElementById("ui_top_panel");
    var image_panel = document.getElementById("image_panel");
    var img_buffer_now = document.getElementById("img_buffer_now");

    var annotation_list_snippet = document.getElementById("annotation_list_snippet");
    var annotation_textarea = document.getElementById("annotation_textarea");

    var img_fn_list_panel = document.getElementById('img_fn_list_panel');
    var img_fn_list = document.getElementById('img_fn_list');
    var attributes_panel = document.getElementById('attributes_panel');
    var leftsidebar = document.getElementById('leftsidebar');

    var image_grid_panel = document.getElementById('image_grid_panel');

    // annotation editor
    var _via_annotaion_editor_panel = document.getElementById('annotation_editor_panel');
    var _via_annotaion_editor_panel2 = document.getElementById('annotation_editor_panel2');

    var _via_display_area = document.getElementById('display_area');
    var _via_img_panel = document.getElementById('image_panel');
    var _via_reg_canvas = document.getElementById('region_canvas');

    (function () {
      if (firstTry == 1 || firstTry == 4) {
        // load json file if project is selected
        document.getElementById("hidden01").click();
      }
      else if (firstTry == 2) {
        document.getElementById("hidden01").click();
        // show File Annotation if 'image.json' file is loaded
        document.getElementById("hidden02").click();
        document.getElementById("button_edit_file_metadata").click();
      }
    }());
  </script>


  <!-- END: Contents of file: via.js-->
</body>

</html>