.bg {
    background-color: #1e2333;
    box-shadow: 0px 5px 38px 0 rgba(0, 0, 0, 0.2);
}

.top_header {
    height: 70px;
    background-color: #060b17;
    padding-top: 13px;
    padding-left: 46px;
}

.top_header a {
    float: left;
    font-family: AppleGothic;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #c0d1e0;
    text-decoration: none;
}


.centerbg {
    width: 699px;
    height: 427px;
    border-radius: 20px;
    background-color: #2b3145;
    box-shadow: 0px 5px 8px 0 rgba(0, 0, 0, 0.12);
    position : absolute;
    top : 40%; left : 42%;
    margin : -150px 0px 0px -200px;
}

.font, #open {
    font-family: NanumBarunGothicOTF;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #96a9bd;
}

.titleFont {
    width: 285px;
    height: 23px;
    font-family: NanumBarunGothicOTF;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #31acff;
}

.inputtitle {
    width: 216px;
    height: 18px;
    font-family: NanumBarunGothicOTF;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #96a9bd;
    margin-left : 60px;
}

.pwFont {
    float: right;
    margin-left : 20px;
    font-family: NanumBarunGothicOTF;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #96a9bd;
}

.form-control {
    border: none;
    border-bottom: 2px solid #424962;
    width: 450px;
    background-color:#2b3145;
    margin-left : 60px;
    font-family: NanumBarunGothicOTF;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #d4e9fe;
}

.btn{
    width: 348px;
    height: 45px;
    border-radius: 22.5px;
    background-color: #2b3145;
    border: solid 1px #484f67;
    margin-left : 120px;
    font-family: NanumBarunGothicOTF;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #96a9bd;
}

table {
    margin-left : 55px;
    margin-top : 0px;
}