<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="../../statics/lib/jquery.js"></script>
    <script src="../../statics/js/select/sel_study.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Crescom Labeling</title>

    <link href="../../statics/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../statics/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="../../statics/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../../statics/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../statics/css/select/sel_study.css" rel="stylesheet" type="text/css">
</head>

<body class="bg">
    <!--menu bar-->
    <div class="top_header">
        <a href="/" class="logo">CRESCOM</a>
        <div class="header-right">
            <a href="/logout"><img src="statics/icon/icon-logout.png" srcset="statics/icon/icon-logout@2x.png 2x, statics/icon/icon-logout@3x.png 3x" class="icon_logout"> Logout
            </a>
            <a href="/knee_record"><img src="statics/icon/history-icon.png" srcset="statics/icon/history-icon@2x.png 2x,statics/icon/history-icon@3x.png 3x" class="icon_help"> Knee OA</a>
            <a href="/record"><img src="statics/icon/history-icon.png" srcset="statics/icon/history-icon@2x.png 2x,statics/icon/history-icon@3x.png 3x" class="icon_help"> Project
            </a>
        </div>
    </div>

    <!--option select box-->
    <div class="select">
        <a href="/study_record">
            <p class="Study">Fracture&nbsp;Study</p>
        </a><br>

        <select onchange="if(this.value) location.href=(this.value);">
                <option selected disabled hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Project Name</option>
                <option value="/study_record?chose_opt=2">&nbsp;&nbsp;&nbsp;&nbsp;ASC</option>
                <option value="/study_record?chose_opt=3">&nbsp;&nbsp;&nbsp;&nbsp;DESC</option>
            </select>
        <select onchange="if(this.value) location.href=(this.value);">
                <option selected disabled hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Direction</option>
                <option value="/study_record?chose_opt=4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AP/PA</option>
                <option value="/study_record?chose_opt=5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lateral</option>
                <option value="/study_record?chose_opt=6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oblique</option>
            </select>
        <select onchange="if(this.value) location.href=(this.value);">
                <option selected disabled hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Age</option>
                <option value="/study_record?chose_opt=7">&nbsp;&nbsp;&nbsp;&nbsp;ASC</option>
                <option value="/study_record?chose_opt=8">&nbsp;&nbsp;&nbsp;&nbsp;DESC</option>
            </select>
        <select onchange="if(this.value) location.href=(this.value);">
                <option selected disabled hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Gender</option>
                <option value="/study_record?chose_opt=1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total</option>
                <option value="/study_record?chose_opt=9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Male</option>
                <option value="/study_record?chose_opt=10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Female</option>
                <option value="/study_record?chose_opt=11">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;None</option>
            </select>
        <!--test history table-->
        <br><br>
        <table class="table table">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>Project Name</th>
                    <th>Direction</th>
                    <th>Age</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                {% for _, filename, project_name, direction, age, gender in ownrecord %}
                <tr>
                    <td><a href="/sel_project?filename={{project_name}}/{{filename}}">{{filename}}</a></td>
                    <td>{{project_name}}</td>
                    <td>{{direction}}</td>
                    <td>{{age}}</td>
                    <td>{{gender}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <center>
            {{ pagination.links }}
        </center>
    </div>
</body>

</html>