<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="../../statics/lib/jquery.js"></script>
    <script src="../../statics/js/select/sel_pro.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Crescom Labeling</title>

    <link href="../../statics/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../statics/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="../../statics/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../../statics/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../statics/css/select/sel_pro.css" rel="stylesheet" type="text/css">

</head>

<body class="bg">
    <!--menu bar-->
    <div class="top_header">
        <a href="/" class="logo">CRESCOM</a>
        <div class="header-right">
            <a href="/authen/logout"><img src="statics/image/power.png" srcset="statics/icon/icon-logout@2x.png 2x, statics/icon/icon-logout@3x.png 3x" class="icon_logout">
            </a>
        </div>
    </div>

    <!--option select box-->
    <div class="select">
        <a href="/record">
            <p class="Project">Project</p>
        </a><br>
        <!--<button id="new_pro" class = "bt_create" onclick="create_pro()">New Project</button><br>-->
        <select onchange="if(this.value) location.href=(this.value);">
               <option value="">&nbsp;&nbsp;New Project</option>
               <option value="/new_project?first=5">&nbsp;&nbsp;Brain(C.V)</option>
               <option value="/new_project?first=7">&nbsp;&nbsp;Brain(H.M)</option>
           </select>

        <!--test history table-->
        <br>
        <br>
        <table class="table table">
            <thead>
                <tr>
                    <th><input id="allCheck" type="checkbox" onclick="allChk(this);" /></th>
                    <th>File Name</th>
                    <th>Project Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for _, rid, project_name, project_type, date in ownrecord %}
                <tr>
                    <td><input name="RowCheck" type="checkbox" value="{{rid}}" /></td>
                    <td><a href="/sel_project?filename={{project_name}}">{{project_name}}</a></td>
                    <td>{{project_type}}</td>
                    <td>{{date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button class="bt_del" onclick="fn_userDel()">DELETE</button>
        <center>
            {{ pagination.links }}
        </center>
    </div>
</body>

</html>