altgraph==0.17
appdirs==1.4.4
asgiref==3.2.10
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.2.1
blinker==1.4
bs4==0.0.1
certifi==2018.1.18
cffi==1.14.0
chardet==3.0.4
click==6.7
cloud-init==20.2
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
Cython==0.29.20
DateTime==4.3
distlib==0.3.1
distro-info===0.18ubuntu0.18.04.1
Django==2.2.4
django-markdown-filter==0.0.1
djangorestframework==3.10.1
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-MySQL==1.5.1
flask-paginate==0.7.0
graphviz==0.8.4
httplib2==0.9.2
hyperlink==17.3.1
idna==2.6
imageio==2.9.0
importlib-metadata==1.7.0
importlib-resources==3.0.0
incremental==16.10.1
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
markdown2==2.3.9
MarkupSafe==1.0
MouseInfo==0.1.2
msgpack==1.0.0
mxnet==1.6.0
netifaces==0.10.4
nibabel==3.1.1
numpy==1.18.1
oauthlib==2.0.6
opencv-contrib-python==4.2.0.32
opencv-contrib-python-headless==4.2.0.32
opencv-python==4.2.0.32
openpyxl==2.6.3
packaging==20.4
PAM==0.4.2
pandas==1.0.4
Pillow==7.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAutoGUI==0.9.48
pycparser==2.20
pycrypto==2.6.1
PyGetWindow==0.0.8
pygobject==3.26.1
PyInstaller==4.0.dev0+a751f7417d
PyJWT==1.5.3
PyMsgBox==1.0.7
PyMySQL==0.9.3
pyOpenSSL==17.5.0
pyparsing==2.4.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
pyserial==3.4
pytesseract==0.3.2
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.8.1
python-debian==0.1.32
python3-xlib==0.15
PyTweening==1.0.3
pytz==2019.1
pyxdg==0.25
PyYAML==3.12
requests==2.24.0
requests-unixsocket==0.1.5
scipy==1.5.1
SecretStorage==2.3.1
selenium==3.141.0
service-identity==16.0.0
six==1.11.0
soupsieve==1.9.5
sqlparse==0.3.0
ssh-import-id==5.7
systemd-python==234
Twisted==17.9.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.22
virtualenv==20.0.31
webencodings==0.5.1
Werkzeug==1.0.1
XlsxWriter==1.2.1
zipp==3.1.0
zope.interface==4.3.2
