<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="../../statics/lib/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Crescom Labeling</title>
    <link href="../../statics/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="../../statics/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../statics/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="../../statics/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../statics/css/login/error.css" />
</head>

<body class="bg">
    <div class="top_header">
        <a href="/" class="logo">CRESCOM</a>
    </div>
    <div class="centerbg">
        <table>
            <br><br>
            <tr>
                <td>
                    <p class="titleFont">Error Message</p>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br>
                    <p class="inputtitle">{{error}}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <br><br><br><a href="/"><button id="btn" class="btn  btn-lg btn-primary btn-block BT_PRESS">RETURN</button></a>
                </td>
            </tr>
        </table>

    </div>

</body>

</html>